{
  "year": 2019,
  "month": 1,
  "templates": {
    "standard": {
      "1": "Normale",
      "2": "Normale",
      "3": "Normale",
      "4": "Normale",
      "5": "Normale",
      "6": "Normale"
    },
    "turno": {
      "1": "Sabato pre-turno",
      "2": "Turno",
      "3": "Turno",
      "4": "Turno",
      "5": "Turno",
      "6": "Turno",
      "7": "Turno",
      "8": "Sabato post-turno"
    }
  },
  "scheduling":{"turno":["5/1"]}
}