{
  "month": 1,
  "scheduling": [
    {
      "open": [
        {
          "begins-day": 7,
          "begins-month": 1,
          "repeats-every": 7,
          "repeats-for": 54
        }
      ]
    },
    {
      "closed": [
        {
          "begins-day": 1,
          "begins-month": 1,
          "repeats-for": 1
        },
        {
          "begins-day": 6,
          "begins-month": 1,
          "repeats-for": 1
        },
        {
          "begins-day": 22,
          "begins-month": 4,
          "repeats-for": 1
        },
        {
          "begins-day": 25,
          "begins-month": 4,
          "repeats-for": 1
        },
        {
          "begins-day": 1,
          "begins-month": 5,
          "repeats-for": 1
        },
        {
          "begins-day": 2,
          "begins-month": 6,
          "repeats-for": 1
        },
        {
          "begins-day": 24,
          "begins-month": 6,
          "repeats-for": 1
        },
        {
          "begins-day": 15,
          "begins-month": 8,
          "repeats-for": 1
        },
        {
          "begins-day": 1,
          "begins-month": 11,
          "repeats-for": 1
        },
        {
          "begins-day": 8,
          "begins-month": 12,
          "repeats-for": 1
        },
        {
          "begins-day": 25,
          "begins-month": 12,
          "repeats-for": 2
        },
        {
          "begins-day": 1,
          "begins-month": 7,
          "repeats-for": 6
        },
        {
          "begins-day": 5,
          "begins-month": 8,
          "repeats-for": 6
        },
        {
          "begins-day": 2,
          "begins-month": 9,
          "repeats-for": 6
        }
      ]
    },
    {
      "turno": [
        {
          "begins-day": 5,
          "begins-month": 1,
          "repeats-every": 28,
          "repeats-for": 13
        }
      ]
    }
  ],
  "templates": {
    "closed": [
      null
    ],
    "open": [
      "Normale",
      "Normale",
      "Normale",
      "Normale",
      "Normale",
      "Normale"
    ],
    "turno": [
      "Sabato pre-turno",
      "Turno",
      "Turno",
      "Turno",
      "Turno",
      "Turno",
      "Turno",
      "Sabato post-turno"
    ]
  },
  "year": 2019
}