{
  "00": {
    "name": "Normale",
    "data": [
      {
        "animation": "standard",
        "begin-hour": 8,
        "begin-minute": 30,
        "end-hour": 13,
        "end-minute": 0
      },
      {
        "animation": "standard",
        "begin-hour": 15,
        "begin-minute": 0,
        "end-hour": 19,
        "end-minute": 30
      }
    ]
  },
  "01": {
    "name": "Turno",
    "data": [
      {
        "animation": "special",
        "begin-hour": 0,
        "begin-minute": 0,
        "end-hour": 24,
        "end-minute": 0
      }
    ]
  },
  "02": {
    "name": "Sabato pre-turno",
    "data": [
      {
        "animation": "special",
        "begin-hour": 8,
        "begin-minute": 30,
        "end-hour": 24,
        "end-minute": 0
      }
    ]
  },
  "03": {
    "name": "Sabato post-turno",
    "data": [
      {
        "animation": "special",
        "begin-hour": 0,
        "begin-minute": 0,
        "end-hour": 8,
        "end-minute": 30
      },
      {
        "animation": "standard",
        "begin-hour": 8,
        "begin-minute": 30,
        "end-hour": 13,
        "end-minute": 0
      }
    ]
  },
  "04": {
    "name": "Sabato su chiuso",
    "data": [
      {
        "animation": "special",
        "begin-hour": 0,
        "begin-minute": 0,
        "end-hour": 8,
        "end-minute": 30
      }
    ]
  },
  "05": {
    "name": "Lunedi",
    "data": [
      {
        "animation": "standard",
        "begin-hour": 15,
        "begin-minute": 0,
        "end-hour": 19,
        "end-minute": 30
      }
    ]
  }
}